*{
    --turkiz: rgb(2, 138, 158);
    --turkiz-25: rgb(2, 138, 158, .75);
    --sotet-turkiz: rgb(9, 81, 92);
    --zold: rgb(73, 126, 23);
    --kek: rgb(31, 83, 143);
    --lila: rgb(97, 30, 114);
    --piros: rgb(151, 23, 23);
}

.turkizbg{
    background-color: var(--turkiz);
    outline-color: var(--turkiz) !important;
}

.zoldbg{
    background-color: var(--zold);
    outline-color: var(--zold) !important;
}

.kekbg{
    background-color: var(--kek);
    outline-color: var(--kek) !important;
}

.lilabg{
    background-color: var(--lila);
    outline-color: var(--lila) !important;
}

.pirosbg{
    background-color: var(--piros);
    outline-color: var(--piros) !important;
}

/* Header & Navbar */

.header{
    background-image: url("../img/banner_fruits.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    position: relative;

}

.header h1{
    position: absolute;
    left: 30px;
    top: 30px;

    width: 300px;
    height: 300px;
    background-color: var(--turkiz);
    font-size: 2.5em !important;
    font-weight: bold;
    font-variant: small-caps;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 10px double #fff;
}



.nav-link{
    border: 3px solid transparent;
}

.nav-link:hover{
    border-bottom: 3px double #fff;
    border-top: 3px double #fff;
}

/* --- */

h2{
    color: var(--sotet-turkiz);
    font-family: Haettenschweiler, Arial;
    margin-top: 30px;
}

.kiwi{
    width: 250px;
    float: right;
}

@media screen and (max-width: 770px) {
    .kiwi{
        display: none;
    }

    .w-75, .w-50{
        width: 100% !important;
    }
}

thead{
    background-color: #000 !important;
    color: #fff;
}

th, td{
    padding: 10px;
}

tr{
    border-bottom: 1px solid rgb(220, 220, 220);
}

tbody tr:nth-of-type(odd){
    background-color: rgb(242, 242, 242);
}

.kategoria{
    text-align: center;
    outline: 3px solid;
    outline-offset: 3px;
    border-radius: 10px;
}

.kategoria h3{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 5px;    
}

.kategoria p{
    color: #fff;
    padding-bottom: 10px;
}

